*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body{
    background-color: #A2D6F3;
}

.navbar{
    height: auto;
    background-color: #A2D6F3; 
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carrousel-image{
    background-color: #A2D6F3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-inner{
height: auto;
}

.carousel {
    height: auto;
}


.apr-texto{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    background-color: #A2D6F3;
    color: rgba(0, 0, 0, 0.5);
}

.texto{
    width: 50%;
    height: auto;
}

.texto p{
    margin: 5% 0 5% 20%;
    font-size: 20px;
    font-weight: 600;

}
.texto span{
    font-size: 18px;
    font-weight: 600;
}

