*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}
body{
    background-color: #A2D6F3 !important;
}

.navbar{
    height: auto;
    background-color: #A2D6F3; 
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carrousel-image{
    background-color: #A2D6F3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-inner{
height: auto;
}

.carousel {
    height: auto;
}

.apr-texto{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    background-color: #A2D6F3;
    color: rgba(0, 0, 0, 0.5);
}

.texto{
    width: 50%;
    height: auto;
}

.texto p{
    margin: 5% 0 5% 20%;
    font-size: 20px;
    font-weight: 600;

}
.texto span{
    font-size: 18px;
    font-weight: 600;
}

@media(max-width: 768px){
    .apr-texto{
        flex-direction: column;
    }
    .texto{
        width: 80%;
        margin: 5% auto;
    }
    .texto p {
        margin: auto;
    }
    .image-servicos, .texto-servicos{
        width: 100% !important;
        margin: 0 !important;
    }
    .texto-servicos p{
        margin: auto !important;
        width: 85%;
    }
    .texto-servicos legend{
        text-align: center;
        margin: 0 !important;
    }
}
.image-servicos{
    width: 50%;
    float: right;
}
.texto-servicos{
    width: 50%;
    float: left;
    padding-top: 2%;
}

.carousel-item{
    background-color: #A2D6F3;
}

.texto-servicos span{
    margin-left: 5%;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.texto-servicos legend{
    margin: 5% auto auto 5%;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.texto-servicos p{
    margin: 2% auto auto 5%;
    color: rgba(0, 0, 0, 0.7);

}

.card {
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  }
  .carousel-inner2 {
    padding: 1em;
  }

  section{
    height: 60%;
  }

  @media screen and (min-width: 577px) {
    .cards-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card {
      margin: 0 0.5em;
      width: calc(100% / 2);
    }
    .image-wrapper {
      
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 576px) {
    .card:not(:first-child) {
      display: none;
    }
  }
  
  .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }
  
.mb-4 .redes{
    border-radius: 50px;
    width: 33px;
    height: 33px;
    overflow: hidden;
    margin: 0 1%;
}

.mb-4 .redes i{
    margin: 2px 0 0 -3.3px;
}

.footer-color{
    height: auto; 
    background-color: #A2D6F3;
}

.collapse .navbar-nav{
    text-align: center;
}

.rodape{
    bottom: 0;
    position: absolute;
    width: 100%;
}